/* Variables */
:root {
  --button-size: 5rem;
  --gap: 1px;

  --keypad-color: rgb(123, 123, 123);
  --operation-color: rgb(97, 97, 97);
  --screen-color: rgb(80, 80, 80);
  --equals-color: rgb(255, 149, 29);
  --font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  --button-font-size: 2rem;
  --font-color: rgb(232, 232, 232);
}

body {
  background-color: rgb(34, 34, 34);

  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font);
}

.frame {
  background-color: var(--screen-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  overflow: hidden;
}

.screen {
  height: var(--button-size);
  width: 100%;
  background-color: var(--screen-color);
  margin-bottom: var(--gap);
}

.keypad {
  gap: var(--gap);
  display: flex;
  flex-direction: column;
}

.r1,
.r2,
.r3,
.r4,
.r5 {
  display: flex;
  gap: var(--gap);
}

button {
  background-color: var(--keypad-color);

  font-size: var(--button-font-size);
  font-family: var(--font);
  color: var(--font-color);

  width: var(--button-size);
  height: var(--button-size);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
}

.operation {
  background-color: var(--operation-color);
}

#equals {
  background-color: var(--equals-color);
}

#num0 {
  width: calc(var(--button-size) * 2 + var(--gap));
}

#clear {
  font-size: calc(var(--button-font-size) * 0.8);
}
